body {
	background: #0F314E;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
}

h1 {
	color: #0F314E;
	font-size: 50px;
	font-weight: lighter;
	letter-spacing: 3px;
}

.button{
	background: #EAA60F;
	width: 100%;
  	height: 30px;
  	font-size: 20px;
  	border-radius: 5px;
}

a {
	color: black;
	text-decoration: none;
}

#share{
	position: relative;
	margin-top: 100%;
	bottom: 0;
}

.twitter-share-button {
	color: white;
	background: skyblue;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
    border-radius: 10px;
}

h1:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    color: #fff;
    animation: animate 8s linear;
}

@keyframes animate {
    0% {
        width: 0;
    }
}

.whatsapp-share-button {
	color: white;
	background: #25D366;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
    border-radius: 10px;
}

.footer-heart{
 	color: white;
}

.font-for-page{
	font-family: 'Roboto', sans-serif;
}

.share-button{
	padding: 10px;
    border-radius: 10px;
}

.donate{
   position: fixed;
   bottom: 0px;
   right: 10px;
   background: #42b6f5;
   border-radius: 2px;
   font-size: 10px;
   padding: 5px 5px;
}

#donatelink{
	color: white;
}

#logo{
	width: 20%;
	top: 0;
	position: fixed;
}
